version: "3.7"

x-odoo-build: &odoo-build
  context: ./14.0
  dockerfile: Dockerfile

services:

  redis:
    container_name: redis
    image: library/redis:5.0-alpine
    restart: unless-stopped
    networks:
      - net1
    volumes:
      - redis_data:/data

  nginx:
    env_file: .env
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    depends_on:
      - odoo1
      - odoo2
    ports:
      - ${TEST_DOCKER_PORT}:80
    volumes:
      - ./nginx/templates:/etc/nginx/templates
      - web_root:/var/www/html
    networks:
      - net1
      
  db:
    env_file: .env
    image: postgres:12
    container_name: db
    restart: unless-stopped
    ports:
      - "127.0.0.1:5444:5432"
    networks:
      - net1
    volumes:
      - db_home:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_DB=odoo14

  odoo1:
    container_name: odoo_replica1
    env_file: .env
    build: *odoo-build
    image: odoogap/odoo14
    restart: unless-stopped
    volumes:
      - odoo_home:/var/lib/odoo
      - ./14.0/mnt/:/mnt/extra-addons
      - ~/git/oe/14.0/:/mnt/oe
    depends_on:
      - db
    networks:
      - net1

  odoo2:
    container_name: odoo_replica2
    env_file: .env
    build: *odoo-build
    image: odoogap/odoo14
    restart: unless-stopped
    volumes:
      - odoo_home:/var/lib/odoo
      - ./14.0/mnt/:/mnt/extra-addons
      - ~/git/oe/14.0/:/mnt/oe
    depends_on:
      - db
    networks:
      - net1

  odoo_cron:
    container_name: odoo_cron
    command: ["odoo", "--no-http", "--max-cron-threads", "2"]
    env_file: .env
    build: *odoo-build
    image: odoogap/odoo14
    restart: unless-stopped
    volumes:
      - odoo_home:/var/lib/odoo
      - ./14.0/mnt/:/mnt/extra-addons
      - ~/git/oe/14.0/:/mnt/oe
    depends_on:
      - db
    networks:
      - net1

volumes:
  db_home:
    external: false
  odoo_home:
    external: false
  odoo_extra:
    external: False
  web_root:
    external: false
  redis_data:
    external: false

networks:
  net1: 
    name: net1
